* {
	padding:0;
margin:0;
box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:15px;
	


}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.liked{
	display: none;
}
a#like-btn {
    color: red;
	cursor: pointer;
}
a#unlike-btn {
    color: red;
	cursor: pointer;
}
